{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard do Agricultor</title>
    <link rel="stylesheet" href="{% static 'css/styles_2.css' %}">
</head>
<body>
    <header>
        <h1>Dashboard do Agricultor - Edição de Tarefa de Máquina</h1>
    </header>

    <div class="container">
        <!-- Formulário de Agregação de Tarefa -->
        <div class="form-card">

            <h2>Editar Tarefa de Máquina</h2>

            <form action="{% url 'editar_tarefa_maquina' tarefa.id %}" method="POST" id="form-tarefa">

                {% csrf_token %}

                <label for="maquina">Funcionário</label>
                <select name="maquina" id="maquina" required>
                    <option value="{{ tarefa.maquina.id }}" selected>{{ tarefa.maquina.nome }}</option>
                    {% for i in maquina %}
                    <option value="{{ i.id }}">{{ i.nome }}</option>
                    {% endfor %}
                </select>

                <label for="tarefa">Tarefa</label>
                <textarea id="tarefa" value="{{tarefa.descricao}}" name="tarefa" rows="4" placeholder="Descrição da Tarefa" required></textarea>

                <p>Data de Ínicio da Tarefa: {{tarefa.data_inicio}}</p>
                <label for="data-tarefa">Data da Tarefa</label>
                <input type="date" id="data_tarefa" name="data_tarefa" required>

                <button type="submit">Editar Tarefa</button>

            </form>

        </div>

        <a class="btn" href="{% url 'index' %}">Voltar à Página Inicial</a>

    </div>

    <script src="script.js"></script>
</body>
</html>
