{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard do Agricultor</title>
    <link rel="stylesheet" href="{% static 'css/styles_2.css' %}">
</head>
<body>
    <header>
        <h1>Dashboard do Agricultor - Edição de Máquina</h1>
    </header>

    <div class="container">
        <!-- Formulário de Edição de Funcionário -->
        <div class="form-card">

            <h2>Editar Máquina</h2>

            <form action="{% url 'editar_maquina' maquina.id %}" method="POST" id="form_maquina">

                {% csrf_token %}

                <label for="maquina">Tipo de Máquina Agrícola</label>
                <select id="tipo_maquina" name="tipo_maquina" required>
                    <option value="{{maquina.tipo}}" selected>{{maquina.tipo}}</option>
                    <option value="Trator">Trator</option>
                    <option value="Colheitadeira">Colheitadeira</option>
                    <option value="Plantadeira">Plantadeira</option>
                    <option value="Pulverizador">Pulverizador</option>
                </select>

                <label for="nome">Nome da Máquina</label>
                <input type="text" value="{{maquina.nome}}" id="nome" name="nome" required>

                <label for="modelo">Modelo</label>
                <input type="text" value="{{maquina.modelo}}" id="modelo" name="modelo" required>

                <label for="ano">Ano</label>
                <input type="text" value="{{maquina.ano}}" id="ano" name="ano" required>

                <button type="submit">Editar Máquina</button>
            </form>

        </div>

        <a class="btn" href="{% url 'index' %}">Voltar à Página Inicial</a>

    </div>

    <script src="script.js"></script>
</body>
</html>
