{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoFarm - Bem-Vindo</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Bem-Vindo!</h1>
    </header>
    <div class="container">
        <div class="welcome-card">
            <img src="{% static 'img/logo.png' %}" alt="">
            <h2>Olá, Agricultor!</h2>
            <div class="welcome-buttons">
                <a href="{% url 'funcionarios' %}" class="btn">Ir para o Painel de Controle dos Funcionarios</a>
                <a href="{% url 'maquinas' %}" class="btn">Ir para o Painel de Controle das Máquinas</a>
                <a href="{% url 'sementes' %}" class="btn">Ir para o Painel de Controle de Sementes</a>
                <a href="{% url 'tarefas_funcionario' %}" class="btn">Ir para o Painel de Controle das Tarefas de Funcionários</a>
                <a href="{% url 'tarefas_maquina' %}" class="btn">Ir para o Painel de Controle das Tarefas de Máquinas</a>
            </div>
        </div>

    </div>

    <div>

        <a class="btn" href="{% url 'sair' %}">Sair</a>

    </div>
</body>
</html>
